.library{
    display: flex;
    flex: 1;
    padding: 3rem;
    font-family: inherit;
    align-items: center;
    justify-content: center;
    position: relative;
}

.libraryTitle{
    position: absolute;
    padding: 2rem;
    top: 0;
    left: 0;
    font-size: var(--font-size-xxl);
    font-family: var(--ff-headings);
    color: hsla(var(--clr-text-secondary));
}