.workSpace{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    padding: 2rem;
    font-family: inherit;
    /* align-content: center; */
}

.workSpaceTitle{
    font-size: var(--font-size-xxl);
    font-family: var(--ff-headings);
    position: absolute;
    color: hsla(var(--clr-text-secondary));
}